@mixin btn-shadow-darker {
    box-shadow: map-get($shadows, btn-dark);
}

@mixin text-shadow-title {
    text-shadow: 5px 5px 5px grey;
}

@mixin boxShadow {
    box-shadow: map-get($shadows, btn-dark);
}