@mixin collapsible__content {
    color: $primary-color-element;
    font-style: normal;
    font-weight: 400;
    background-color: $secondary-color-element;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@mixin chevron {
    font-size: 80px;
    color: $secondary-color-element;
    position: absolute;
    top: 41%;
    cursor: pointer;
    @media (max-width: 670px) {
        font-size: 32px;
    }
}

@mixin btn-shadow-darker {
    box-shadow: map-get($shadows, btn-dark);
}