.logement {
    margin: 0 auto;
    width: 86%;
    position: relative;
}
.lodgement {
    display: grid;
    grid-template-areas: 
        "title title host"
        "location location host"
        "tags tags tags";
    @media (max-width: 670px) {
        grid-template-areas: 
            "title title title"
            "location location location"
            "tags tags tags"
            "host host host";
    }
    &__title {  
        grid-area: title;
        margin-top: 32px;
        font-size: 36px;
        font-weight: 500;
        color: $primary-color-element;
        text-overflow: clip;
    }
    &__location {
        grid-area: location;
        margin-top: 8px;
        font-size: 18px;
        font-weight: 500;
        color: $primary-color-element;
    }
}

.host-and-ratings {
    grid-area: host;
    display: flex;
    flex-direction: column;
    transform: translateY(32px);
    @media (max-width: 670px) {
        transform: translateY(24px);
        flex-wrap: wrap;
    }
    &__host {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        &--name {
            width: 92px;
            margin-right: 16px;
            align-self: center;
            text-align: right;
            font-size: 18px;
            font-weight: 500;
            color: $primary-color-element;
        }
        &--img {
            border-radius: 50%;
            height: 64px;
            width: 64px;
        }
    }
    &__ratings {
        margin-top: 16px;
        color: $primary-color-element;
        align-self: flex-end;
        @media (max-width: 670px) {
            align-self: flex-start !important;
            transform: translateY(-56px);
        }
    }
}

.tags {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: tags;
    &__tag {
        margin-top: 16px;
        padding: 4px 32px;
        border-radius: 10px;
        background-color: $primary-color-element;
        color: $secondary-color-element;
        margin-right: 16px;
        font-size: 14px;
        font-weight: 500;
    }
}

.fa-star {
    margin: 0px 4px;
}

.neutralStar {
    color: $secondary-color-element !important;
}

.furtherInfos {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
    @media (max-width: 670px) {
        display: flex;
        flex-direction: column;
    }
}