
.animation {
    animation: spin 400ms linear both;
    cursor: pointer;
}
.animation-reverse {
    animation: spin-reverse 400ms linear both;
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(-180deg);}
}
@keyframes spin-reverse {
    0% { transform: rotate(-180deg);}
    100% { transform: rotate(0deg);}
}
