.my-masonry-grid {
    width: fit-content;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 670px) {
      flex-direction: column;
    }
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
    @media (max-width: 670px) {
      width: 100% !important;
    }
  }
  
  .my-masonry-grid_div {
    background: #F8F9F9 ;
    width: fit-content;
    margin: 40px;
    padding: 24px;
    border-radius: 25px;
    @include boxShadow;
    @media (max-width: 1020px) {
      margin: 24px;
    }
  }

  .my-masonry-grid_div > img{
    object-fit: cover;
    width: 100%;
    border-radius: 35px;
  }

  .my-masonry-grid_div > p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;   
    color: #660547;
    @include text-shadow-title;
    @media (max-width: 670px) {
      font-size: 12px;
    }
  }