.section {
    display: flex;
    flex-direction: row;
    margin: 56px;
    padding: 32px;
    @media (max-width: 670px) {
        flex-direction: column;
    }
    &__title {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        align-self: center;
        text-align: center;
        font-size: 32px;
        margin: 56px;
        color: $primary-color-element;
        font-weight: 700;
        @include text-shadow-title;
        @media (max-width: 670px) {
            font-size: 16px;
            margin-top: 0px;
        }
    }
}
