.section {
    display: flex;
    flex-direction: row;
    margin: 56px;
    padding: 32px;
    @media (max-width: 799px) {
        flex-direction: column;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        font-size: 32px;
        margin: 56px;
        color: $primary-color-element;
        font-weight: 700;
        @include text-shadow-title;
        @media (max-width: 670px) {
            font-size: 16px;
            margin-top: 0px;
        }
        &--subtitle {
            align-self: center;
            text-align: center;
            font-size: 24px;
            margin: 20px;
            color: $primary-color-element;
            font-weight: 700;
            @include text-shadow-title;
            @media (max-width: 670px) {
                font-size: 14px;
                margin-top: 0px;
            }
        }
        &--photoPresentation {
            margin: 20px;
            align-self: center;
            align-items: center;
            object-fit: cover;
            height: fit-content;
            width: 150px;
            border-radius: 50px;
            @media (max-width: 670px) {
                flex-direction: column;
            }
        }
    }  
}
