.footer{
    background-color: $background-color-footer;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__img {
        width: 120px;
        height: 40px;
        margin-top: 64px;
        align-self: center;
    }
    &__p {
        width: 35%;
        margin: 64px 0px;
        font-size: 24px;
        font-weight: 500;
        align-self: center;
        text-align: center;
        color: $primary-color;
    }
}
.fa-regular {
    margin: 0px 8px;
}
