.header {
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
    @media (max-width: 670px) {
        height: auto;
        margin: auto;
    }
    &__logo {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        object-fit: cover;
        margin: 8px;
        z-index: 1000;
        position: sticky;
        @media (max-width: 670px) {
            width: 88px;
            height: 88px;
        }
    }
    &__nav {
        &--ul {
            margin-right: 64px;
            list-style-type:none;
            display: inline-flex;
            justify-content: center;
            @media (max-width: 1020px) {
                display: flex;
                flex-wrap: wrap;
            }
        }
        &--li > a {
            font-size: 20px;
            font-weight: 500;
            color: $primary-color-element;
            margin: 16px;
            padding: 8px 16px;
            text-align: right;
            cursor: pointer;
            text-decoration: none;
            white-space: nowrap;
            @media (max-width: 1020px) {
                display: flex;
                margin: 4px;
            }
            @media (max-width: 670px) {
                font-size: 12px;
            }
        }
        &--li > a:hover{
            border-color: $primary-color-element;
            border-radius: 25px;
            background-color: $primary-color-element;
            color: $secondary-color-element !important;
            @include boxShadow;
        }
    }
    &__ref {
        display: flex;
        padding: 4px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: fixed;
        right: 0.5%;
        z-index: 1000;
        margin-right: 8px;
        text-decoration: none;
        background-color: $primary-color;
        color: $primary-color-element;
    }
}

.fa-arrow-up {
    display: flex;
    font-size: 18px;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 670px) {
        font-size: 12px;
    }
}