* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box !important;
  width: 100%;
  background-color: #fff;
}

* {
  font-family: Montserrat;
}

.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer__img {
  width: 120px;
  height: 40px;
  margin-top: 64px;
  align-self: center;
}
.footer__p {
  width: 35%;
  margin: 64px 0px;
  font-size: 24px;
  font-weight: 500;
  align-self: center;
  text-align: center;
  color: #fff;
}

.fa-regular {
  margin: 0px 8px;
}

.header {
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0px;
}
@media (max-width: 670px) {
  .header {
    width: 86%;
    height: 48px;
  }
}
.header__logo {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 8px;
}
@media (max-width: 670px) {
  .header__logo {
    width: 88px;
    height: 88px;
  }
}
.header__nav--ul {
  list-style-type: none;
  display: inline-flex;
}
.header__nav--li > a {
  font-size: 18px;
  font-weight: 500;
  color: #660547;
  margin: 16px;
  padding: 0px 16px;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width: 670px) {
  .header__nav--li > a {
    font-size: 12px;
    padding-left: 24px;
  }
}
.header__nav--li > a:hover {
  border-color: #660547;
  border-radius: 25px;
  background-color: #660547;
  color: #F6F6F6 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.banner {
  height: 216px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.banner__img {
  align-self: center;
  width: 86%;
  height: 216px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1000;
  filter: brightness(70%);
}
.banner__title {
  max-width: 80%;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  z-index: 1500;
  transform: translateY(-136px);
  display: flex;
  text-align: center;
  align-self: center;
}
@media (max-width: 670px) {
  .banner__title {
    max-width: 80%;
    font-size: 24px !important;
    text-align: start;
  }
}

.animation {
  animation: spin 400ms linear both;
  cursor: pointer;
}

.animation-reverse {
  animation: spin-reverse 400ms linear both;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.collapsible {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  list-style: none;
  margin-bottom: 40px;
}
@media (max-width: 670px) {
  .collapsible {
    width: 86%;
  }
}
.collapsible__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px 10px 16px;
  border-radius: 5px;
  background-color: #660547;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.collapsible__content {
  overflow: hidden;
}
.collapsible__content--show {
  color: #660547;
  font-style: normal;
  font-weight: 400;
  background-color: #F6F6F6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  padding: 16px 24px 16px 24px;
  margin-top: 0;
  transition: margin-top 0.4s ease-in-out;
}
.collapsible__content--hide {
  color: #660547;
  font-style: normal;
  font-weight: 400;
  background-color: #F6F6F6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  padding: 16px 24px 16px 24px;
  margin-top: -200%;
  transition: margin-top 0.4s ease-in-out;
}

.furtherInfos .collapsible {
  width: 100% !important;
}
.furtherInfos .collapsible__title {
  font-size: 18px;
  border-radius: 10px;
}
.furtherInfos .collapsible__content--show {
  border-radius: 10px;
}
.furtherInfos .collapsible__content--hide {
  border-radius: 10px;
}

.description {
  flex-wrap: wrap;
}

.slideshow {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 424px;
}
@media (max-width: 670px) {
  .slideshow {
    height: 256px;
  }
}
.slideshow__img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
.slideshow__count {
  display: flex;
  font-size: 32px;
  font-weight: 500;
  color: #F6F6F6;
  position: absolute;
  bottom: 16px;
  left: 47%;
}
@media (max-width: 670px) {
  .slideshow__count {
    font-size: 18px;
  }
}

.fa-chevron-left {
  font-size: 80px;
  color: #F6F6F6;
  position: absolute;
  top: 41%;
  cursor: pointer;
  left: 2%;
}
@media (max-width: 670px) {
  .fa-chevron-left {
    font-size: 32px;
  }
}

.fa-chevron-right {
  font-size: 80px;
  color: #F6F6F6;
  position: absolute;
  top: 41%;
  cursor: pointer;
  right: 2%;
}
@media (max-width: 670px) {
  .fa-chevron-right {
    font-size: 32px;
  }
}

.hide {
  display: none;
}

.cards {
  box-sizing: border-box !important;
  width: 86%;
  padding: 40px;
  margin-bottom: 48px;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}
@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.card {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 250px;
  text-decoration: none;
}
@media (max-width: 480px) {
  .card {
    height: 150px;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  border-radius: 10px;
  cursor: pointer;
  filter: brightness(75%);
}
.card__text {
  color: #fff;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__title {
  margin: 136px 0px;
  width: 600px;
  height: 264px;
  color: #660547;
  font-size: 288px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 670px) {
  .error__title {
    font-size: 96px;
    height: 96px;
    width: 192px;
  }
}
.error__p {
  font-weight: 500;
  text-align: center;
}
.error__p--explaination {
  font-size: 36px;
  color: #660547;
  text-align: center;
}
@media (max-width: 670px) {
  .error__p--explaination {
    font-size: 18px;
    width: 256px;
  }
}
.error__p--home {
  margin: 136px 0px;
  font-size: 18px;
  color: #660547;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 670px) {
  .error__p--home {
    font-size: 14px;
  }
}
.error__p--home:hover {
  color: #660547;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logement {
  margin: 0 auto;
  width: 86%;
  position: relative;
}

.lodgement {
  display: grid;
  grid-template-areas: "title title host" "location location host" "tags tags tags";
}
@media (max-width: 670px) {
  .lodgement {
    grid-template-areas: "title title title" "location location location" "tags tags tags" "host host host";
  }
}
.lodgement__title {
  grid-area: title;
  margin-top: 32px;
  font-size: 36px;
  font-weight: 500;
  color: #660547;
  text-overflow: clip;
}
.lodgement__location {
  grid-area: location;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #660547;
}

.host-and-ratings {
  grid-area: host;
  display: flex;
  flex-direction: column;
  transform: translateY(32px);
}
@media (max-width: 670px) {
  .host-and-ratings {
    transform: translateY(24px);
    flex-wrap: wrap;
  }
}
.host-and-ratings__host {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.host-and-ratings__host--name {
  width: 92px;
  margin-right: 16px;
  align-self: center;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #660547;
}
.host-and-ratings__host--img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
.host-and-ratings__ratings {
  margin-top: 16px;
  color: #660547;
  align-self: flex-end;
}
@media (max-width: 670px) {
  .host-and-ratings__ratings {
    align-self: flex-start !important;
    transform: translateY(-56px);
  }
}

.tags {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: tags;
}
.tags__tag {
  margin-top: 16px;
  padding: 4px 32px;
  border-radius: 10px;
  background-color: #660547;
  color: #F6F6F6;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 500;
}

.fa-star {
  margin: 0px 4px;
}

.neutralStar {
  color: #F6F6F6 !important;
}

.furtherInfos {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 56px;
       column-gap: 56px;
}
@media (max-width: 670px) {
  .furtherInfos {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=App.css.map */